
.categories {

    background: #131520;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*porcentaje que queremos que vea el usuario menos el header*/
    /* min-height: calc(100vh - 901px); */
    width: 100%;
}


.categories__title {
    color: white;
    text-align:left;
    font-size: 23px;
    margin-top: -16px;
    position:relative;
    width: 100%;
    display:flex;
    
    
  }

