
.categories {

    background: #131520;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px, 30px;
    /*porcentaje que queremos que vea el usuario menos el header*/
    min-height: calc(100vh - 901px);
    width: 100%;
}


.categories__title {
    color: white;
    font-size: 16px;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }