.preFooter  {
    display: flex;
    align-items: center;
    height: 115px;
    width: 100%;
    background-color: black;
   }

  .preFooter img {
    width: 120px;
    margin-top: 20px;
    margin-left: 55px;
    display: block;
    margin: auto;
  }