.sc__container{
  white-space: nowrap;
  height: 447px;
  width: 1400px;
  overflow: hidden;
  text-align: center;
  //position: relative;
  padding: 0;
  list-style: none;
  display: inline-block;
  


  }

  .sliderCarousel {
    justify-content: center;
    position: relative;
  }
  